<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="description" content="post house">
<meta name="keywords" content="HTML,CSS,JavaScript">
<link rel="stylesheet" href="CSS/bootstrap0.css">
<script src="./JS/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="CSS/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="CSS/style.default.css" />
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>HRsys</title>
</head>
<div th:include="~{Navbars::bar}"></div>
<script type="text/javascript">
    var upload = function (c, d) {
        "use strict";
        var $c = document.querySelector(c),
            $d = document.querySelector(d),
            file = $c.files[0],
            reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            $d.setAttribute("src", e.target.result);
        };
    };
</script>
<body>
<div class="jumbotron" style ="margin-left:10%;width:80%;">
<form method="post"class="form-validate" id="registerFrom" action="/NewHouse" enctype="multipart/form-data">
  <fieldset>
  <font color="red" size="4" th:text="${msg}" th:if="${msg} != null"></font>
    <legend>Please fill in house information</legend>
    <div class="form-group row">
      <label for="staticHead" class="col-sm-2 col-form-label">House picture</label>
	  <div class="aui-info">
        <img src="index.jpg" id="img-txz" style="width: 4rem" class="aui-img-round user-img"/>
        <input type="file" accept="image/*" id="file-txz" name="Picture of house" onchange="upload('#file-txz','#img-txz');"  class="fileInput"/>
       </div>
    </div>
    <div class="form-group">
      <label for="exampleSelect1">House Type Select</label>
      <select class="form-control" name="HouseType">
        <option value=1>apartment</option>
        <option value=2>compound apartment</option>
        <option value=3>low block</option>
        <option value=4>mansion</option>
        <option value=5>datcha</option>
      </select>
    </div>
     <div class="form-group">
      <label for="exampleSelect1">Energy consumption level</label>
      <select class="form-control" name="HouseEnergy">
        <option >A1</option>
        <option >A2</option>
        <option >A3</option>
        <option >B1</option>
        <option >B2</option>
        <option >B3</option>
        <option >C1</option>
        <option >C2</option>
        <option >C3</option>
        <option >D</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">House address</label>
      <input type="text" class="form-control" name="HouseAddress" aria-describedby="emailHelp" placeholder="Ireland,Limerick">
      <small id="emailHelp" class="form-text text-muted">The form of address should be:Country, city</small>
    </div>
    <div class="form-group">
      <label for="exampleInputName">House park number</label>
      <input type="text" class="form-control" name="HouseParknumber" placeholder="Enter park number">
      <small id="emailHelp" class="form-text text-muted">How many parking spaces can your house provide</small>
    </div>
    <div class="form-group">
      <label for="exampleInputName">House completion date</label>
      <input type="date" class="form-control" name="HouseBirthday">
    </div>
    <div class="form-group">
      <label for="exampleInputName">House equipment</label>
      <input type="text" class="form-control" name="houseEquipment" placeholder="Example:Refrigerator, kitchenware, TV">
      <small id="emailHelp" class="form-text text-muted">Please use "," to separate the infrastructure provided by your house</small>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Description of house</label>
      <textarea class="form-control" name="houseDescription" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">House Size(square metre)</label>
      <input type="text" class="form-control" name="Housesize">
    </div>
    <div class="form-group">
      <p>post a new house will cost 20 euro</p>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </fieldset>
</form>
</div>
</body>
</html>