<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="CSS/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="CSS/style.default.css" />
<script src="JS/d3.js"></script>
</head>
<body>
<div th:include="~{Navbars::bar}"></div>
<form action="/SearchHouse" method="post">
<div  style="width: 80%;margin-left: auto;margin-right: auto;">
<table class="table table-hover" style="text-align: center;font-size:20px;">
<tr>
<td>
      <label for="exampleSelect2">HOUSE INFO:</label></td>
      <td>
      <input type="text" placeholder="information abuout house,such like location"  class="form-control-plaintext" name="HouseInfo"/></td>
      <td>
      <label for="exampleSelect1">HOUSE TYPE:</label>
      </td>
      <td>
      <select data-placeholder="Please Select" class="form-control" id="exampleSelect1" name="HouseTypeSelect">
      <option >0---general</option>
      <option   th:each="type,types:${typelist}" th:text="${types.count}+'---'+${type.tContext}"></option>
      </select>
      </td>
      <td>
    <button type="submit" class="btn btn-primary" >search</button>
    </td>
    </tr>
</table>
</div>
</form>


<div style="width: 80%;margin-left: auto;margin-right: auto;">
<table class="table table-hover" >
  <thead>
    <tr class="table-primary">
      <th scope="col">Picture</th>
      <th scope="col">Address</th>
      <th scope="col">Equipment</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
<tbody>
      <tr  th:each="hl:${houselist}"  th:if="${ houselist!=null && #lists.size(houselist)>= 0}">

      <th scope="row" th:if="${session.u!=null} and ${session.u.uType=='admin'}"><a href="/mangerHouse.jsp?houseId=<%=hId %>"><img th:src="'Resource/'+${hl.hPicture}" th:alt="${hl.hPicture}"  width="80" height="50" ></a></th>
      <th scope="row" th:if="${session.u==null} or ${session.u.uType!='admin'}"><a href="/houserent.jsp?houseId=<%=hId %>"><img th:src="'Resource/'+${hl.hPicture}" th:alt="${hl.hPicture}"  width="80" height="50" ></a></th>

      <td th:text="${hl.hAddress}"></td>
      <td th:text="${hl.hEquipment}"></td>
      <td th:text="${hl.hDescription}"></td>
    </tr>
  </tbody>
</table> 
</div>

</body>
</html>